<app-navbar></app-navbar>
<div *ngIf="role === 'TEACHER'" class="dashboard-container">
    <h1>Teacher Dashboard</h1>

    <div class="teacher-details">
        <h2>Teacher Details</h2>
        <p><strong>Name:</strong> {{ teacherDetails?.fullName }}</p>
        <p><strong>Email:</strong> {{ teacherDetails?.email }}</p>
        <p><strong>Subject:</strong> {{ teacherDetails?.subject }}</p>
        <p><strong>Years of Experience:</strong> {{ teacherDetails?.yearsOfExperience }}</p>
        <button (click)="navigateToEditTeacher()" class="btn-edit">Edit</button>
        <button (click)="deleteTeacher()" class="btn-delete">Delete</button>
    </div>
    <div class="course-section">
        <h2>Courses</h2>
        <div *ngIf="courses.length === 0" class="empty-list">
            <p>No courses.</p>
        </div>
        <div *ngIf="courses.length > 0">
            <table class="courses-table">
                <thead>
                    <tr>
                        <th>Course Id</th>
                        <th>Course Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courses" (click)="onCourseSelect(course)"
                        [class.selected]="course.courseId === selectedCourseId">
                        <td>{{ course.courseId }}</td>
                        <td>{{ course.courseName }}</td>
                        <td>{{ course.description }}</td>
                        <td>
                            <button (click)="navigateToEditCourse(course.courseId)" class="btn-edit">Edit</button>
                            <button (click)="deleteCourse(course.courseId)" class="btn-delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="enrollment-section">
        <h2>Enrollment in Selected Course - {{ selectedCourseId }} </h2>
        <div *ngIf="selectedCourseEnrollment.length === 0" class="empty-list">
            <p>No enrollments available.</p>
        </div>
        <div *ngIf="selectedCourseEnrollment.length > 0">
            <table class="enrollment-table">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Student Name</th>
                        <th>Enrollment Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let enrollment of selectedCourseEnrollment">
                        <td>{{ enrollment.course.courseName }}</td>
                        <td>{{ enrollment.student.fullName }}</td>
                        <td>{{ enrollment.enrollmentDate | date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="students-section">
        <h2>Students </h2>
        <div *ngIf="students.length === 0" class="empty-list">
            <p>No students available.</p>
        </div>
        <div *ngIf="students.length > 0">
            <table class="students-table">
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Student Name</th>
                        <th>Date of Birth</th>
                        <th>Contact Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <td>{{ student.studentId }}</td>
                        <td>{{ student.fullName }}</td>
                        <td>{{ student.dateOfBirth | date }}</td>
                        <td>{{ student.contactNumber }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="role === 'STUDENT'" class="dashboard-container">
    <h1>Student Dashboard</h1>

    <div class="student-details">
        <h2>Student Details</h2>
        <p><strong>Name:</strong> {{ studentDetails?.fullName }}</p>
        <p><strong>Email:</strong> {{ studentDetails?.email }}</p>
        <p><strong>Date Of Birth:</strong> {{ studentDetails?.dateOfBirth | date }}</p>
        <p><strong>Contact Number:</strong> {{ studentDetails?.contactNumber }}</p>
        <button (click)="navigateToEditStudent()" class="btn-edit">Edit</button>
        <button (click)="deleteStudent()" class="btn-delete">Delete</button>
    </div>
    <div class="enrollment-section">
        <h2>Enrolled Courses Details </h2>
        <div *ngIf="enrollments.length === 0" class="empty-list">
            <p>No enrollments available.</p>
        </div>
        <div *ngIf="enrollments.length > 0">
            <table class="enrollment-table">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Teacher Name</th>
                        <th>Student Name</th>
                        <th>Enrollment Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let enrollment of enrollments">
                        <td>{{ enrollment.course.courseName }}</td>
                        <td>{{ enrollment.course.teacher.fullName }}</td>
                        <td>{{ enrollment.student.fullName }}</td>
                        <td>{{ enrollment.enrollmentDate | date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="course-section">
        <h2>All Available Courses</h2>
        <div *ngIf="courses.length === 0" class="empty-list">
            <p>No courses.</p>
        </div>
        <div *ngIf="courses.length > 0">
            <table class="courses-table">
                <thead>
                    <tr>
                        <th>Course Id</th>
                        <th>Course Name</th>
                        <th>Description</th>
                        <th>Teacher Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courses">
                        <td>{{ course.courseId }}</td>
                        <td>{{ course.courseName }}</td>
                        <td>{{ course.description }}</td>
                        <td>{{ course.teacher.fullName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>